body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

img {
	display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Oswald", sans-serif;
}

ul {
  list-style-type: none;
}

/* top-line-header */
.page-header .container {
  display: flex; 
  justify-content: space-between;
  align-items: baseline;
}
.menu {
display: flex;
flex-direction: row;
}

.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5; 
  text-transform: uppercase;
}

.studio {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-transform: uppercase;
}

.menu-elements {

display: flex;
gap: 8px;
flex-direction: column;
background: #fff;
text-align:  center;
line-height: normal;
display: flex;
flex-direction: row;
}

.email-telefon {
    background: #fff;
    color: #434455 ;
  }
  /* .menu-nav-index */
  .menu-nav-index{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
  }
    .menu-nav-index:hover{
    color: #404bbf;
  }
  .menu-nav-index:focus{
    color: #404bbf;
  }
 /* .menu-nav-index */
 
.contacts {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
font-style: normal;
}

.social-links { 
  display: flex;
  flex-direction: row;
  gap: 8px;
}


.social-links :hover {
  color: #404bbf;
}
.social-links :focus {
  color: #404bbf;
}

/* <!-- Section-1 --> */

.box-hero-image {
box-sizing: content-box;
width: 1440px;
height: 600px;
background: #2e2f42;
}

.hero-image {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height:  1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  }
.botton {
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;

}

.botton:hover {
  background-color: #404BBF;
  cursor: pointer;

}
.botton:focus {
  background-color: #404bbf;
  }

/* <!-- Section-2 --> */

.light-bg {
  width: 1440px;
  height: 732px; 
}

.advantages {
background-color: #F4F4FD;
}

.feature-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* <!-- Sektion-3 --> */
.section-sss {
  background-color: #F4F4FD;
}

.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.cards-workers {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.image {
  background-color: #FFFFFF;
}
/* NEW */
.card.no-gap {
  display: block;
}
.card-image {
  max-width: 100%;
}
/* NEW */
.headteam {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.position {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

/* <!-- Sektion-4 --> */
.our-portfolio {
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
}

.card-set{
  display: flex;
  flex-wrap: wrap; 
  gap: 10px;
}

.card-set .item {
  width:calc((100% - 32px) / 3);
}
.cart-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.cart-content {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* <!-- Footer --> */

.footer {
background: #2e2f42;
width: 1440px;
height: 312px;
}

.footer-text {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}

.studio-footer {
  color: #f4f4fd;
}