body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
img {
	display: block;
  max-width: 100%;
}
.card.no-gap {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Oswald", sans-serif;
}

ul {
  padding-left: 0%;
  list-style-type: none;
}
.container{
  max-width:1158px;
}

/* top-line-header */
.page-header .container {
  display: flex; 
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #e7e9fc;
  }
.container{
 width: 1158px;
 padding: 0 15px 0 15px;
margin: 0 auto;
}

.menu {
display: flex;
flex-direction: row;
 align-items: center;
 gap: 40px;
 padding: 24px 0;
}

.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5; 
margin-right: 76px
}

.studio {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  }

.menu-elements {

display: flex;
gap: 8px;
flex-direction: column;
background: #fff;
text-align:  center;
line-height: normal;
display: flex;
flex-direction: row;
gap: 40px;
}

.email-telefon {
    background: #fff;
    color: #434455 ;
    margin-right: 40px
  }
  .email-telefon:last-child {
    margin-right: 0;
  }
  /* .menu-nav-index */
  .menu-nav-index{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-right: 40px;
      
  }
  .menu-nav-index:last-child {
    margin-right: 0;
  }
  .menu-nav-index:hover{
    color: #404bbf;
  }
  .menu-nav-index:focus{
    color: #404bbf;
  }
 /* .menu-nav-index */
 
.contacts {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
font-style: normal;
}

.social-links { 
  display: flex;
  flex-direction: row;
  gap: 8px;
}


.social-links :hover {
  color: #404bbf;
}
.social-links :focus {
  color: #404bbf;
}

/* <!-- Section-1 --> */

 .box-hero-image .cont {
  padding-top: 188px;
  padding-bottom: 188px;
}

.box-hero-image {
box-sizing: content-box;
width: 1440px;
height: 600px;
background: #2e2f42;
}

.hero-image {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height:  1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px; 
  }
.botton {
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;

}

.botton:hover {
  background-color: #404BBF;
  cursor: pointer;

}
.botton:focus {
  background-color: #404bbf;
  }

/* <!-- Section-2 --> */

.container .light-bg {
  padding-top: 120px;
  padding-bottom: 120px;
}
.light-bg {
  width: 1440px;
  height: 732px; 
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages  {
display: none;
background-color: #F4F4FD;
margin-bottom: 8px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}

.text-box {
display: flex;
gap: 24px;
}

.text-box-element {
  width: calc((100% - 72px) / 4); 
}

.feature-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* <!-- Sektion-3 --> */
.section-sss {
  background-color: #F4F4FD;
  padding: 120px 0;
}

.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.cards-workers {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.image {
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
}

.card-info-workers {
  border-radius: 0px 0px 4px 4px;
  padding-top: 32px;
  padding-bottom: 32px;
}
/* NEW */
.card.no-gap {
  display: block;
}
.card-image {
  max-width: 100%;
}
/* NEW */
.headteam {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-align: center; 
margin-bottom: 8px
}

.position {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: center;
}

/* <!-- Sektion-4 --> */

.section-ssss{
  padding: 120px 0 120px 0;
}

.container-four {
  padding-top: 120px;
  padding-bottom: 120px;
  }


.our-portfolio {
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}

.card-set{
  display: flex;
  flex-wrap: wrap; 
  column-gap:  24px;
  row-gap: 48px; 
}

.item {
    width: calc((100% - 48px) / 3);
}

.app-title-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;

}

.cart-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.cart-content {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* <!-- Footer --> */

.footer {
background: #2e2f42;
width: 1440px;
height: 312px;
padding: 100px 0;

}
.container {
padding-top: 100px; 
padding-bottom: 100px;
}

.footer-text {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}

.studio-footer {
  color: #f4f4fd;
}
.logo {
  display: inline-block;
  margin-bottom: 16px; 
}